fontawesome-free-6.7.2-web.zip
assets/css/all.css
assets/css/all.min.css
assets/css/brands.css
assets/css/brands.min.css
assets/css/fontawesome.css
assets/css/fontawesome.min.css
assets/css/regular.css
assets/css/regular.min.css
assets/css/solid.css
assets/css/solid.min.css
assets/css/svg-with-js.css
assets/css/svg-with-js.min.css
assets/css/v4-font-face.css
assets/css/v4-font-face.min.css
assets/css/v4-shims.css
assets/css/v4-shims.min.css
assets/css/v5-font-face.css
assets/css/v5-font-face.min.css
assets/webfonts/fa-brands-400.ttf
assets/webfonts/fa-brands-400.woff2
assets/webfonts/fa-regular-400.ttf
assets/webfonts/fa-regular-400.woff2
assets/webfonts/fa-solid-900.ttf
assets/webfonts/fa-solid-900.woff2
assets/webfonts/fa-v4compatibility.ttf
assets/webfonts/fa-v4compatibility.woff2
